<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Launch Mobility</title>
  <h1>UrbanPilot</h1>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
  <h2>Login</h2>
  <form action="/login" method="POST">
    <input name="email" type="email" placeholder="email address"><br>
    <input name="password" type="password" placeholder="password"><br>
    <button type="submit">Sign In</button>
  </form>

  <p>New Customer?</p> <a href="/registration">Start Here</a>
</body>
</html>